<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GIFionary</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="icon" href="images/logo.ico">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <div>
        <figure class="image is-128x128">
            <img src="images/logo.png">
        </figure>
    </div>
    <div id="game" class="container has-background-primary">
        <!-- Player 1 area -->
        <div class="card has-background-primary">
            <h1 class="title is-1 has-text-centered">Player 1</h1>
            <!-- CSS formatting for the gif cards -->
            <div class="level">
                <!-- For each gif in the VueJS list produce a card -->
                <div v-for="(card,index) in player1" class="card" :id="card.name" v-on:click="playCard(card.name,card.url,index,'player1')">
                    <div class="card-image">
                        <figure class="image is-16by16">
                            <img :src="card.url" alt="Gif Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="title is-4 has-text-centered">{{card.name}}</div>                    
                    </p>
                </div>
            </div>
        </div>
        <!-- Story area -->
        <div class="card has-background-dark">
            <h1 class="title is-1 has-text-centered">Story</h1>
            <!-- CSS formatting for the gif cards -->
            <div class="level">
                <!-- For each gif in the VueJS list produce a card -->
                <div v-for="card in story" class="card" :id="card.name">
                    <div class="card-image">
                        <figure class="image is-16by16">
                            <img :src="card.url" alt="Gif Image">
                        </figure>
                    </div>                    
                </div>
            </div>
        </div>

        <!-- Player 2 area -->
        <div class="card has-background-success">
            <h1 class="title is-1 has-text-centered">Player 2</h1>
            <!-- CSS formatting for the gif cards -->
            <div class="level">
                <!-- For each gif in the VueJS list produce a card -->
                <div v-for="(card,index) in player2" class="card" :id="card.name" v-on:click="playCard(card.name,card.url,index,'player2')">
                    <div class="card-image">
                        <figure class="image is-16by16">
                            <img :src="card.url" alt="Gif Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="title is-4 has-text-centered">{{card.name}}</div>                    
                    </p>
                </div>
            </div>
        </div>
        
    </div>
</body>
<footer>
    <!-- Socket.IO library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <!-- VueJS library -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- VueJS client -->
    <script src="vue/app.js"></script>
    <!-- Client Script -->
    <script src="server/client.js"></script>
</footer>